html, body{
	padding: 0;
	margin: 0;
  text-align: center;
  font-weight: 100;
  font-family: open-sans, sans-serif;
}

#spacer{
  height:50px;
  width: 100%;
  display: block;
}

#lg-spacer{
  height:100px;
  width: 100%;
  display: block;
}

.white{
  color:#444;
}