html, body{
	background-color: #2e2e2e;
	padding: 0;
	margin: 0;
}

h1{
	text-shadow: black 0px 1px 0px;
}

#spacer{
	height:100px;
	width: 100%;
	display: block;
}

#lg-spacer{
	height:200px;
	width: 100%;
	display: block;
}

.white{
	color:#c0c0c0;
}